**/.vagrant
**/k0s
**/envoy
**/*.log
**/*.pcap
**/*.tar

**/*.crt
**/*.csr
**/*.key

egress-external-https-proxy-integration/infra/external-app/http.conf
egress-external-https-proxy-integration/infra/external-app/http2.conf
